.DS_Store
Completed ZIPs/ass1 Completed ZIPs/ass1.zip
IDE Config/biuoop.xml
Completed ZIPs/*
ass2/biuoop.xml
ass2/checkstyle-8.44-all.jar
ass3/.idea
ass1/.idea
.tmp.driveupload
ass3/out
build.xml
ass5/build.xml
ass5/checkstyle-8.44-all.jar
ass5/biuoop.xml
